* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    width: 600px;
}

img {
    width: 400px;
    height: 600px;
    object-fit: cover;
    display: block;
    margin: 20px auto;
}