* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid black;
    padding: 1rem;
    background-color: rgb(79, 182, 242);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

section {
    padding: 1rem;
    background-color: rgb(255, 255, 255);
}